* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px 100px 0px;
    width: 100%;
}

header h1 {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 18px;
    color: #e5e7eb;
}

a:link {
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 0px 0px 100px 0px;
}

.main-text {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-text h1 {
    font-weight: bolder;
    font-size: 48px;
    color: #e5e7eb;
}

.main-text p {
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px;
}

.main-text button {
    background-color: #3882f6;
    border-radius: 8px;
    height: 50px;
    width: 120px;
    border: 1px solid #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    font-size: 16px;
}

.information {
    background-color: #ffff;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.information h1{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.information-images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.information-text{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.images{
    border-radius: 18px;
    border: 3px solid #3882f6;
}
.information-text p{
    width: 150px;
    display: flex;
}

.qoute{
    background-color: #e5e7eb;
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qoute-text{
    color: #1f2937;
    font-size: 36px;
    font-family: light italic;
    width: 40%;
}

.qoute h3{
    display: flex;
    justify-content: flex-end;
}

footer{
    background-color: #ffff;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    background-color: #3882f6;
    width: 60%;
    height: 150px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-content{
    color: #e5e7eb;
}

button{
    background-color: #3882f6;
    border-radius: 8px;
    height: 50px;
    width: 120px;
    border: 1px solid #e5e7eb;
    color: #e5e7eb;
    font-weight: bold;
    font-size: 16px;
}
